@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.02rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: 400;
  font-size: 1.5rem; /* Adjust size as needed */
}

.post-content strong {
  font-weight: bold;
}

.post-content em,
.post-content i {
  font-style: italic;
}

.post-content ul,
.post-content ol {
  margin-bottom: 0.5rem;
  padding-left: 1.5rem; /* Adjust indentation as needed */
}

.post-content li {
  margin-bottom: 0.25rem; /* Adjust spacing between list items */
}

/* Style list bullets or numbers */
.post-content ul li {
  list-style-type: disc; /* Change to desired bullet style */
}

.post-content ol li {
  list-style-type: decimal; /* Change to desired number style */
}

.post-content a {
  color: #0cd976;
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: #d71111;
}

/* Styles for light mode */
.post-content blockquote {
  border-left: 4px solid #E5E7EB; /* Tailwind gray-300 */
  padding-left: 1em;
  color: #374151; /* Tailwind gray-700 */
  background-color: #F9FAFB; /* Tailwind gray-50 */
}

.post-content pre {
  background-color: #F3F4F6; /* Tailwind gray-100 */
  padding: 1em;
  border-radius: 0.5em;
  position: relative;
  overflow: auto;
}

.post-content pre code {
  color: #1F2937; /* Tailwind gray-800 */
}

/* Styles for dark mode */
.dark .post-content blockquote {
  border-left: 4px solid #4B5563; /* Tailwind gray-600 */
  padding-left: 1em;
  color: #D1D5DB; /* Tailwind gray-300 */
  background-color: #1F2937; /* Tailwind gray-800 */
}

.dark .post-content pre {
  background-color: #374151; /* Tailwind gray-700 */
  padding: 1em;
  border-radius: 0.5em;
  position: relative;
  overflow: auto;
}

.dark .post-content pre code {
  color: #F9FAFB; /* Tailwind gray-50 */
}

/* Copy button styles */
.copy-btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background-color: #10B981; /* Tailwind green-500 */
  color: white;
  border: none;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.dark .copy-btn {
  background-color: #059669; /* Tailwind green-600 */
}
